.wrapper {
	display: flex;
	gap: 8px;
}

.sorter,
.sorter__active {
	position: relative;
	line-height: 20px;
	color: #99a0a3;
	border: 1px solid #99a0a3;
	border-radius: 4px;
	padding: 4px 12px 4px 8px;
	cursor: pointer;
}

.sorter span,
.sorter__active span {
	/* display: inline-block; */
	margin-right: 9px;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}

.sorter__active {
	border: 1px solid #41522e;
	color: #41522e;
}

.arrows {
	position: absolute;
	top: -1.5px;
	right: 7.5px;
}

.arrowUp,
.arrowDown {
	height: 8.5px;
	fill-opacity: 0.3;
}

.arrowUp__active,
.arrowDown__active {
	height: 8.5px;
}
