.bg {
	background-color: #e5e5e5;
}

.container {
	max-width: 1200px;
	padding: 15px;
	margin: 0 auto;

	display: grid;
	justify-content: center;
	grid-template-columns: 360px 664px;	
	gap: 24px;
}

.leftColumn {
	display: grid;
	grid-template-rows: 1fr 1fr);
	gap: 24px;
}

