.wrapper {
	padding: 16px;
	display: flex;
	align-items: center;
	letter-spacing: -0.40799999237060547px;
	margin-top: 10px;
	background-color: white;
	border-bottom: 1px solid rgba(135, 135, 135, 0.2);
}

.title {
	color: #424242;
	font-size: 17px;
	font-weight: 300;
	line-height: 22px;
}

.date {
	color: #878787;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;

	display: flex;
}

.date__info {
	display: inline-block;
	margin-right: 10px;
}

.date__info:first-child {
	width: 92px;
}

.info__right {
	margin-left: auto;
}

.price__title {
	display: inline-block;
	margin-right: 8px;
	font-size: 11px;
	font-weight: 300;
	line-height: 22px;
}

.price__value {
	font-size: 17px;
	font-weight: 400;
	line-height: 22px;
	text-align: right;
}
